<div class=" centralizado corpo">

    <div class="imagem centralizado" style="width: 100%;" *ngIf="obj">
        <div class="botoesTop centralizado">
            <button  class="backgroundImage botaoVoltar" (click)="ir()">
                <img src="./assets/buttons/back.svg" style="width: 20px;">
            </button>
    
        </div>
        <object style="width: 100%; height: 100vh;" type="text/html" [data]="urlSafe"></object>
        <div class="rodape" >
            <div class="centralizado divRodape">
                <img class="imgLogo logoCelular" [src]="obj.companyData.logoImageUrl" alt="" routerLink="/" 
                [ngClass]="{'aparecePc': abrir==true, 'somePc': abrir==false}">
                <img src="./assets/novo/logoRodapeIphone.png" alt="">
            </div>
        </div>


    </div>

    <div class="informacaoPc centralizado" *ngIf="obj" [ngClass]="{'crescePc': abrir==true, 'diminuiPc': abrir==false}">
        <button class="btnZoom centralizado" *ngIf="abrir==null"  (click)="abrir=false">
            <img   *ngIf="abrir==null" src="./assets/buttons/expandirCelular.svg" alt="" style="transform: rotate(90deg);">

        </button>
        <button class="btnZoom centralizado" (click)="abrir=!abrir" *ngIf="abrir!=null">
            <img *ngIf="abrir==true"  src="./assets/buttons/expandirCelular.svg" alt="" style="transform: rotate(90deg);">
            <img *ngIf="abrir==false"  src="./assets/buttons/expandirCelular.svg" alt="" style="transform: rotate(-90deg);">
        </button>
        <div class="infos centralizado">
            
        

        <div *ngIf="abrir==null || abrir==true"  class="informacoesPc" [ngClass]="{'aparecePc': abrir==true, 'somePc': abrir==false}">
            <h4>{{obj.collectionData.category}}</h4>
            <h5>{{obj.name}}</h5>



            <p  >{{obj.description }}</p>

        </div>
        <div class="tecnico" *ngIf="abrir==null || abrir==true">
            <div class="centralizado cadaTecnico">
                <p><b>Acabamento</b></p>
                <p>Impressão</p>

            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Altura</b> </p>
                <p>76cm</p>
            </div>
            <div class="centralizado cadaTecnico">
                
                <p><b>Ambiente</b> </p>
                <p>Quarto</p>
            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Cálculo</b> </p>
                <p>Unidade</p>
            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Complexidade de montagem</b> </p>
                <p>Baixa</p>
            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Cor</b></p>
                <p>Branco</p>
            </div>
            <div class="centralizado cadaTecnico">
                
                <p><b>Cor secundária</b> </p>
                <p>Branco</p>
            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Escala de brilho</b></p>
                <p> Semi-Brilho</p>
            </div>
        </div>
        <div class="qrCode centralizado" *ngIf="abrir==null || abrir==true" [ngClass]="{'aparecePc': abrir==true, 'somePc': abrir==false}">
            <h5>Escaneie o QRCode com o seu celular</h5>
            <ngx-qrcode [width]="tamanhoQrCode"  [elementType]="elementType"  [errorCorrectionLevel]="correctionLevel"  [value]="value"  cssClass="bshadow"></ngx-qrcode>

        </div>

    </div>
    <!-- <img class="imgLogo" [src]="obj.companyData.logoImageUrl" alt="" routerLink="/" style="cursor: pointer;" 
    [ngClass]="{'aparecePc': abrir==true, 'somePc': abrir==false}"> -->
    </div>
    <div class="informacao container centralizado" [ngClass]="{'informacaoFechada': !mostraInfo}" *ngIf="obj">
        <button class="fechar" (click)="mostraInfo=!mostraInfo" >
            <img *ngIf="!mostraInfo"  src="./assets/buttons/expandirCelular.svg" alt="">
            <img *ngIf="mostraInfo"  src="./assets/buttons/expandirCelular.svg" alt="" style="transform: rotate(180deg);">
        </button>
        <div class="informacoes"  >
            <h4>{{obj.collectionData.category}}</h4>
            <h5>{{obj.name}}</h5>

            <p  *ngIf="mostraInfo">{{obj.description}}</p>
            
        </div>
        <div class="tecnico" *ngIf="(abrir==null || abrir==true)&& mostraInfo">
            <div class="centralizado cadaTecnico">
                <p><b>Acabamento</b></p>
                <p>Impressão</p>

            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Altura</b> </p>
                <p>76cm</p>
            </div>
            <div class="centralizado cadaTecnico">
                
                <p><b>Ambiente</b> </p>
                <p>Quarto</p>
            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Cálculo</b> </p>
                <p>Unidade</p>
            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Complexidade de montagem</b> </p>
                <p>Baixa</p>
            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Cor</b></p>
                <p>Branco</p>
            </div>
            <div class="centralizado cadaTecnico">
                
                <p><b>Cor secundária</b> </p>
                <p>Branco</p>
            </div>
            <div class="centralizado cadaTecnico">
                <p><b>Escala de brilho</b></p>
                <p> Semi-Brilho</p>
            </div>
        </div>

        
    </div>


</div>
